.section {
    display:grid;
    width:100%;
    height:150px;
    background-color:rgb(253, 136, 136);
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr 5px;
    grid-gap:20px;
}

.content-grid {
    display:grid;
    width:100%;
    height:150px;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
}

.title {
    font-size:2em;
}

.cell {
    width:100%;
    height:100%;
}

.centered {
    display:flex;
    justify-content:center;
    align-items:center;
}


